/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:595px; height:595px; background: #fff !important; }
.paper-vertical { width:595px; height:100%; }
.paper-horizontal { width:4237px; height:607px; }
@media all and (max-height:595px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:595px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
label input.choice {display:none;}
label > .state {cursor:pointer;}
label > .state:not(.btn-n-off) {display:none;}
label > input.choice:checked ~ .state:not(.btn-n-on) {display:none;}
label > input.choice:checked ~ .state.btn-n-on {display:block;}
label.has-r-off:hover > input.choice:not(:checked) ~ .state.btn-r-off {display:block;}
label.has-r-off:hover > input.choice:not(:checked) ~ .state:not(.btn-r-off) { display:none;}
label.has-r-on:hover > input.choice:checked ~ .state.btn-r-on {display:block;}
label.has-r-on:hover > input.choice:checked ~ .state:not(.btn-r-on) { display:none;}
label.has-c-on:active > input.choice:checked ~ .state.btn-c-on {display:block;}
label.has-c-on:active > input.choice:checked ~ .state:not(.btn-c-on) {display:none;}
label.has-c-off:active > input.choice:not(:checked) ~ .state.btn-c-off {display:block;}
label.has-c-off:active > input.choice:not(:checked) ~ .state:not(.btn-c-off) {display:none;}
#item321804 {
	width:43px !important;
	height:20px !important;
	left:47px !important;
	top:137px !important;
}

#item321828 {
	width:45px !important;
	height:20px !important;
	left:53px !important;
	top:204px !important;
}

#item321853 {
	width:41px !important;
	height:20px !important;
	left:47px !important;
	top:272px !important;
}

#item321877 {
	width:45px !important;
	height:20px !important;
	left:53px !important;
	top:340px !important;
}

#item321901 {
	width:213px !important;
	height:20px !important;
	left:46px !important;
	top:421px !important;
}

#item321925 {
	width:213px !important;
	height:20px !important;
	left:46px !important;
	top:503px !important;
}

#item321992 {
	width:156px !important;
	height:20px !important;
	left:47px !important;
	top:131px !important;
}

#item322016 {
	width:50px !important;
	height:20px !important;
	left:48px !important;
	top:209px !important;
}

#item322040 {
	width:212px !important;
	height:20px !important;
	left:46px !important;
	top:301px !important;
}

#item322064 {
	width:43px !important;
	height:20px !important;
	left:48px !important;
	top:383px !important;
}

#item322088 {
	width:51px !important;
	height:20px !important;
	left:43px !important;
	top:540px !important;
}

#item322112 {
	width:212px !important;
	height:20px !important;
	left:47px !important;
	top:462px !important;
}

#item322445 {
	width:17px !important;
	height:17px !important;
	left:82px !important;
	top:111px !important;
}

#item322469 {
	width:17px !important;
	height:17px !important;
	left:82px !important;
	top:167px !important;
}

#item322493 {
	width:17px !important;
	height:17px !important;
	left:82px !important;
	top:224px !important;
}

#item322517 {
	width:17px !important;
	height:17px !important;
	left:82px !important;
	top:281px !important;
}

#item322542 {
	width:17px !important;
	height:17px !important;
	left:82px !important;
	top:338px !important;
}

#item322566 {
	width:17px !important;
	height:17px !important;
	left:265px !important;
	top:338px !important;
}

#item322590 {
	width:17px !important;
	height:17px !important;
	left:265px !important;
	top:281px !important;
}

#item322615 {
	width:17px !important;
	height:17px !important;
	left:265px !important;
	top:224px !important;
}

#item322639 {
	width:17px !important;
	height:17px !important;
	left:265px !important;
	top:167px !important;
}

#item322663 {
	width:17px !important;
	height:17px !important;
	left:265px !important;
	top:111px !important;
}

#item323052 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:106px !important;
}

#item323076 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:163px !important;
}

#item323100 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:219px !important;
}

#item323124 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:276px !important;
}

#item323148 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:333px !important;
}

#item323172 {
	width:17px !important;
	height:17px !important;
	left:77px !important;
	top:389px !important;
}

#item323196 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:106px !important;
}

#item323220 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:163px !important;
}

#item323244 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:219px !important;
}

#item323269 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:276px !important;
}

#item323293 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:333px !important;
}

#item323317 {
	width:17px !important;
	height:17px !important;
	left:277px !important;
	top:389px !important;
}

#item323714 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:106px !important;
}

#item323738 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:163px !important;
}

#item323762 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:219px !important;
}

#item323787 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:276px !important;
}

#item323812 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:333px !important;
}

#item323836 {
	width:17px !important;
	height:17px !important;
	left:96px !important;
	top:389px !important;
}

#item323860 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:106px !important;
}

#item323884 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:163px !important;
}

#item323908 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:219px !important;
}

#item323932 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:276px !important;
}

#item323956 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:333px !important;
}

#item323980 {
	width:17px !important;
	height:17px !important;
	left:337px !important;
	top:389px !important;
}

#item324031 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324411 {
	width:20px !important;
	height:20px !important;
	left:19px !important;
	top:-3px !important;
}

#item324418 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item324424 {
	width:20px !important;
	height:20px !important;
	left:67px !important;
	top:-3px !important;
}

#item324391 {
	width:20px !important;
	height:20px !important;
	left:52px !important;
	top:-3px !important;
}

#item324398 {
	width:20px !important;
	height:20px !important;
	left:28px !important;
	top:-3px !important;
}

#item324404 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324868 {
	width:20px !important;
	height:20px !important;
	left:78px !important;
	top:-3px !important;
}

#item324368 {
	width:20px !important;
	height:20px !important;
	left:36px !important;
	top:-3px !important;
}

#item324379 {
	width:20px !important;
	height:20px !important;
	left:62px !important;
	top:-3px !important;
}

#item324385 {
	width:20px !important;
	height:20px !important;
	left:87px !important;
	top:-3px !important;
}

#item324877 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324350 {
	width:20px !important;
	height:20px !important;
	left:103px !important;
	top:-3px !important;
}

#item324356 {
	width:20px !important;
	height:20px !important;
	left:71px !important;
	top:-3px !important;
}

#item324362 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324884 {
	width:20px !important;
	height:20px !important;
	left:36px !important;
	top:-3px !important;
}

#item324331 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324337 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item324344 {
	width:20px !important;
	height:20px !important;
	left:117px !important;
	top:-3px !important;
}

#item324894 {
	width:20px !important;
	height:20px !important;
	left:82px !important;
	top:-3px !important;
}

#item324312 {
	width:20px !important;
	height:20px !important;
	left:118px !important;
	top:-3px !important;
}

#item324319 {
	width:20px !important;
	height:20px !important;
	left:83px !important;
	top:-3px !important;
}

#item324325 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324903 {
	width:20px !important;
	height:20px !important;
	left:35px !important;
	top:-3px !important;
}

#item324289 {
	width:20px !important;
	height:20px !important;
	left:121px !important;
	top:-3px !important;
}

#item324295 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item343419 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324910 {
	width:20px !important;
	height:20px !important;
	left:78px !important;
	top:-3px !important;
}

#item324270 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324276 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item324282 {
	width:20px !important;
	height:20px !important;
	left:88px !important;
	top:-3px !important;
}

#item324921 {
	width:20px !important;
	height:20px !important;
	left:121px !important;
	top:-3px !important;
}

#item324249 {
	width:20px !important;
	height:20px !important;
	left:125px !important;
	top:-3px !important;
}

#item324257 {
	width:20px !important;
	height:20px !important;
	left:83px !important;
	top:-3px !important;
}

#item324264 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324929 {
	width:20px !important;
	height:20px !important;
	left:37px !important;
	top:-3px !important;
}

#item324230 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324236 {
	width:20px !important;
	height:20px !important;
	left:35px !important;
	top:-3px !important;
}

#item324243 {
	width:20px !important;
	height:20px !important;
	left:117px !important;
	top:-3px !important;
}

#item324941 {
	width:20px !important;
	height:20px !important;
	left:71px !important;
	top:-3px !important;
}

#item324209 {
	width:20px !important;
	height:20px !important;
	left:39px !important;
	top:-3px !important;
}

#item324222 {
	width:20px !important;
	height:20px !important;
	left:111px !important;
	top:-3px !important;
}

#item324216 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324951 {
	width:20px !important;
	height:20px !important;
	left:72px !important;
	top:-3px !important;
}

#item324965 {
	width:20px !important;
	height:20px !important;
	left:117px !important;
	top:-3px !important;
}

#item324181 {
	width:20px !important;
	height:20px !important;
	left:81px !important;
	top:-3px !important;
}

#item324191 {
	width:20px !important;
	height:20px !important;
	left:40px !important;
	top:-3px !important;
}

#item324197 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324478 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324565 {
	width:20px !important;
	height:20px !important;
	left:20px !important;
	top:-3px !important;
}

#item324571 {
	width:20px !important;
	height:20px !important;
	left:66px !important;
	top:-3px !important;
}

#item325122 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item324776 {
	width:20px !important;
	height:20px !important;
	left:83px !important;
	top:-3px !important;
}

#item324783 {
	width:20px !important;
	height:20px !important;
	left:119px !important;
	top:-3px !important;
}

#item324789 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item325184 {
	width:20px !important;
	height:20px !important;
	left:39px !important;
	top:-3px !important;
}

#item324758 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324764 {
	width:20px !important;
	height:20px !important;
	left:40px !important;
	top:-3px !important;
}

#item324770 {
	width:20px !important;
	height:20px !important;
	left:71px !important;
	top:-3px !important;
}

#item325190 {
	width:20px !important;
	height:20px !important;
	left:113px !important;
	top:-3px !important;
}

#item324740 {
	width:20px !important;
	height:20px !important;
	left:72px !important;
	top:-3px !important;
}

#item324746 {
	width:20px !important;
	height:20px !important;
	left:40px !important;
	top:-3px !important;
}

#item324752 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item325196 {
	width:20px !important;
	height:20px !important;
	left:113px !important;
	top:-3px !important;
}

#item324715 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324721 {
	width:20px !important;
	height:20px !important;
	left:29px !important;
	top:-3px !important;
}

#item324727 {
	width:20px !important;
	height:20px !important;
	left:71px !important;
	top:-3px !important;
}

#item325202 {
	width:20px !important;
	height:20px !important;
	left:116px !important;
	top:-3px !important;
}

#item324696 {
	width:20px !important;
	height:20px !important;
	left:121px !important;
	top:-3px !important;
}

#item324703 {
	width:20px !important;
	height:20px !important;
	left:40px !important;
	top:-3px !important;
}

#item324709 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item325208 {
	width:20px !important;
	height:20px !important;
	left:82px !important;
	top:-3px !important;
}

#item324683 {
	width:20px !important;
	height:20px !important;
	left:82px !important;
	top:-3px !important;
}

#item343439 {
	width:20px !important;
	height:20px !important;
	left:43px !important;
	top:-3px !important;
}

#item324690 {
	width:20px !important;
	height:20px !important;
	left:130px !important;
	top:-3px !important;
}

#item343429 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324657 {
	width:20px !important;
	height:20px !important;
	left:120px !important;
	top:-3px !important;
}

#item324663 {
	width:20px !important;
	height:20px !important;
	left:34px !important;
	top:-3px !important;
}

#item324670 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item325222 {
	width:20px !important;
	height:20px !important;
	left:80px !important;
	top:-3px !important;
}

#item324634 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324645 {
	width:20px !important;
	height:20px !important;
	left:73px !important;
	top:-3px !important;
}

#item324651 {
	width:20px !important;
	height:20px !important;
	left:113px !important;
	top:-3px !important;
}

#item325228 {
	width:20px !important;
	height:20px !important;
	left:38px !important;
	top:-3px !important;
}

#item324616 {
	width:20px !important;
	height:20px !important;
	left:105px !important;
	top:-3px !important;
}

#item324622 {
	width:20px !important;
	height:20px !important;
	left:66px !important;
	top:-3px !important;
}

#item324628 {
	width:20px !important;
	height:20px !important;
	left:31px !important;
	top:-3px !important;
}

#item325235 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324596 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item324603 {
	width:20px !important;
	height:20px !important;
	left:66px !important;
	top:-3px !important;
}

#item324610 {
	width:20px !important;
	height:20px !important;
	left:89px !important;
	top:-3px !important;
}

#item325241 {
	width:20px !important;
	height:20px !important;
	left:38px !important;
	top:-3px !important;
}

#item324577 {
	width:20px !important;
	height:20px !important;
	left:74px !important;
	top:-3px !important;
}

#item324583 {
	width:20px !important;
	height:20px !important;
	left:50px !important;
	top:-3px !important;
}

#item324590 {
	width:20px !important;
	height:20px !important;
	left:-3px !important;
	top:-3px !important;
}

#item325247 {
	width:20px !important;
	height:20px !important;
	left:26px !important;
	top:-3px !important;
}
#in5footer,  #prefooter {display:none;}
